Enter new movie information:<br />
<%= form_for @movie do |f| -%>
	Title: <%= f.text_field :title %><br />
	Year: <%= f.text_field :year %><br />
	<%= f.submit %>
<% end -%>
<hr />
<hr />
List of all movies:<br />
<% if !@movies.blank? %>
  <table border=1>
  	<tr>
  		<th> Title </th>
  		<th> Year </th>
  		<th></th>
  	</tr>
  <% for item in @movies %>
  	<tr>
  		<td><%= link_to item.title, :controller => :rentals, :action => :new, :id => item.id %></td>
  		<td><%= item.year %></td>
		<td><%= link_to "Edit", :action => :edit, :id => item.id %></td>
  	</tr>
  <% end %>
  </table>
<% else %>
  <p>No movies yet.</p>
<% end %>
